<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>赛事</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/mui/css/mui.css" />
    <link rel="stylesheet" href="/static/select/mobileSelect.css">
    <link rel="stylesheet" href="/static/select/public.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/photoClip.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/loading.css">
    <style>
        body{
            background: url(../img/bg_img.png);
            background-size: 100% 100%;
        }
    </style>
    <!-- <script>
        // flexible
        !function (e, t) { function n() { t.body ? t.body.style.fontSize = 12 * o + "px" : t.addEventListener("DOMContentLoaded", n) } function d() { var e = i.clientWidth / 10; i.style.fontSize = e + "px" } var i = t.documentElement, o = e.devicePixelRatio || 1; if (n(), d(), e.addEventListener("resize", d), e.addEventListener("pageshow", function (e) { e.persisted && d() }), o >= 2) { var a = t.createElement("body"), s = t.createElement("div"); s.style.border = ".5px solid transparent", a.appendChild(s), i.appendChild(a), 1 === s.offsetHeight && i.classList.add("hairlines"), i.removeChild(a) } }(window, document);
    </script> -->
    <script src="/static/jquery-2.1.4.js"></script>
    <script src="/static/mui/js/mui.js"></script>
    <script src="/static/select/mobileSelect.js"></script>
    <script src="/static/photo/iscroll-zoom.js"></script>
    <script src="/static/photo/hammer.js"></script>
    <script src="/static/photo/jquery.photoClip.js"></script>
</head>

<body>
    <div class="haixia">
        <!-- 赛事开头 -->
        <div class="hx_hearder">
            <img src="/img/header.png" alt="">
        </div>
        <!-- 萌娃系列 -->
        <div class="mui-content">
            <form class="mui-input-group">
                <div class="mui-card">
                    <!--页眉，放置标题-->
                    <div class="mui_title m-childer">
                        <img src="/img/student_title.png" alt="学员">
                    </div>
                    <!--内容区-->
                    <div class="mui-card-content">
                        <div class="mui-input-row row_top">
                            <label>姓名</label>
                            <input type="text" class="mui-input-clear" name="name" placeholder="请输入用户名">
                        </div>
                        <div class="mui-input-row">
                            <label>身份证号</label>
                            <input type="text" class="mui-input-clear" name="cardCode" placeholder="请输入身份证">
                        </div>
                        <p class="check-tips">身份证格式错误</p>
                        <div class="mui-input-row" id="c_activity_img">
                            <label>
                                学员头像
                                <a href="javascript:;" class="type_examples">查看范例</a>
                            </label>
                            <input type="password" id="form_upload" readonly="readonly" name="file" placeholder="点击上传">
                            <input id="file" type="file" readonly="readonly" accept="image/*" />
                            <img src="" id="childer_img" alt="头像">
                            <span class="mui-icon mui-icon-arrowright myIcon"></span>
                        </div>
                        <div class="mui-input-row" id="c_activity_type">
                            <label>节目类别
                            </label>
                            <div class="c_activity_type_lf">
                                    <input type="text" readonly="readonly" onfocus='this.blur();' name="category" id="" placeholder="节目类型"> 
                                    <span class="mui-icon mui-icon-arrowdown myIcons"></span> 
                               
                           </div>
                           <div class="c_activity_type_lr">
                                <input type="text" readonly="readonly" onfocus='this.blur();' name="organization" id="" placeholder="个人/团体">   
                                <span class="mui-icon mui-icon-arrowdown myIcons"></span>                             
                           </div>
                        </div>
                        <div class="mui-input-row">
                            <label>节目名称</label>
                            <input type="text" class="mui-input-clear" name="program" placeholder="你的节目名称,如未定请写无">
                        </div>
                    </div>
                </div>
                <!-- 指导老师 -->
                <div class="mui-card">
                    <div class="mui_title m-teacher"><img src="/img/teacher_title.png" alt="老师"></div>
                    <div class="mui-card-content">
                        <div class="mui-input-row row_top">
                            <label>所属机构</label>
                            <input type="text" class="mui-input-clear" name="affiliation" placeholder="请输入机构名称">
                        </div>
                        <div class="mui-input-row">
                            <label>姓名</label>
                            <input type="text" class="mui-input-clear" name="teachersName" placeholder="请输入老师姓名">
                        </div>
                        <div class="mui-input-row">
                            <label>联系方式</label>
                            <input type="text" class="mui-input-clear" name="teacherMobile" placeholder="请输入手机号码">
                        </div>
                        <p class="check-tips">请输入正确手机号</p>
                    </div>
                </div>
                <!-- 监护人 -->
                <div class="mui-card" style="margin-bottom:30px;">
                    <div class="mui_title m-guardian"><img src="/img/guardin_title.png" alt="监护人"> </div>
                    <div class="mui-card-content">
                        <div class="mui-input-row row_top">
                            <label>姓名</label>
                            <input type="text" class="mui-input-clear" name="parentsName" placeholder="请输入监护人名字">
                        </div>
                        <div class="mui-input-row">
                            <label>联系方式</label>
                            <input type="text" class="mui-input-clear" name="parentsMobile" placeholder="请输入手机号码">
                        </div>
                        <p class="check-tips">请输入正确手机号</p>
                    </div>
                </div>
                <div class="m-detail">
                    <span class="m_checkbox unchecked">
                        <img src="/img/no-select.png" alt="">
                    </span>                                                  
                    <p>我已阅读并知情<span class="about_detail">《<a href="javascript:;">报名须知</a> 》</span></p>
                </div>  
                <button type="button" id="submitInfo" class="mui-btn no_clicks" onclick="submitInfoFn()">马上报名</button>
                    <div class="mui-row">
                        <li class="mui-table-view-cell mui_masters">
                            <p class="">*关于赛事如有疑问,请到公众号【海峡盛典协会】留言给组委会，官方将及时回复</p>
                        </li>
                    </div>              
            </form>
        </div>
        
    </div>


    <!-- 上传裁剪图片 -->
    <article class="htmleaf-container">
        <div id="clipArea"></div>
        <div class="foot-use">
            <div class="uploader1 blue">
                <input type="button" class="button img_close" value="取消">
            </div>
            <button id="clipBtn">确定</button>
        </div>
        <div id="view"></div>
    </article>
    </div>
    <div id="popover" class="mui-popover">
        <div class="mui-popup mui-popup-in">
            <div class="mui-popup-inner">
                <div class="mui-popup-buttons img_examples">
                    <span class="mui-popup-button mui-popup-button-bold">照片范例</span>
                    <a href="javascript:;" class="m_close">
                        <img src="/img/close.png" alt="">
                    </a>
                </div>
                <div class="mui-popup-text img_examples_text hx_dorp" id="img_examples_text">
                    <img src="/img/example.png" alt="">
                    <p>正面清晰脸照</p>
                </div>
            </div>          
        </div>
    </div>
    <div id="popover_tip" class="mui-popover">
        <div class="mui-popup mui-popup-in">
            <div class="mui-popup-inner">
                <div class="mui-popup-buttons img_examples">
                    <span class="mui-popup-button mui-popup-button-bold">报名须知</span>
                    <a href="javascript:;" class="m_close">
                        <img src="/img/close.png" alt="">
                    </a>
                </div>
                <div class="mui-popup-text img_examples_text hx_dorp">
                
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <%  var example = JSON.parse(JSON.stringify(examper)) ; %>
                        <a href="javascript:;">
                            <%= example.header %>
                        </a>

                        <%  for(var i in example.title){ %>
                            <p>
                                <%= example.title[i] %>
                            </p>
                            <ul>
                                <%  for(var j in example.title[i]){ %>
                                    <li>
                                        <%= example.cont[i].list[j] %>
                                    </li>
                                    <% } %>
                            </ul>
                            <% } %>
                            <a href="javascript:;">
                                    <%= example.tips %>
                             </a>   
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popover_qrcode" class="mui_popover">
        <div class="mui_popover_qrcode">
            <div class="popover_qrcode">
                <div class="img_examples">
                    <span class="mui-popup-button mui-popup-button-bold">
                        <a href="javascript:;">下一步观看比赛注意事项</a>
                        <a href="javascript:;" class="tipster" href="">看完注意事项方可报名成功</a>
                    </span>
                </div>
                <div class="mui-popup-text img_examples_text">
                    <img id="qrcode_img" src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQEb8TwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyd2UyS1E4aWxkTGkxMDAwMHcwN2UAAgRBv7BaAwQAAAAA"
                        alt="">
                    <p class="qrcode_examples_text_a">长按二维码查看</p>
                    <p class="qrcode_examples_text_b">*飞慕课为组委会指定 唯一视频发布平台
                    </p>
    
                </div>
            </div>
        </div>
    </div>
    <div id="popover_sd" class="mui_popover">
        <div class="mui_popover_qrcode">
            <div class="popover_qrcode">
                <div class="img_examples">
                    <span class="mui-popup-button mui-popup-button-bold">关注【海星文化艺术盛典】
                        <a style="display: block;" href="javascript:;">马上报名！</a>
                    </span>
                </div>
                <div class="mui-popup-text img_examples_text">
                    <img id="qrcode_img" src="/img/qrcode_sd.jpg" alt="">
                    <p class="qrcode_examples_text_a">长按二维码关注</p>
                    <p class="qrcode_examples_text_b">*飞慕课为组委会指定 唯一视频发布平台
                    </p>
                </div>
            </div>
        </div>
    </div>
        <script src="/js/myStorage.js"></script>
    <script src="/js/loading.js"></script>
    <script src="/js/index.js"></script>
    <script>

        if("<%= eventsid %>" != "undefined" ){  //盛典

            if("<%= type %>" == 0 ){	
                // location.href = "https://hx.planplus.cn/index?id=<%= eventsid %>";
            } else {
                location.href = "/sign-success?unionId=<%= unionid %>";
            } 
           
        } else {              
                       //飞慕课
            if("<%= type %>" == 0 ){

                $('#popover_sd').show();
            } else {
                location.href = "/sign-success?unionId=<%= unionid %>";
            }
        }
        var myInfo = {
            openid: "<%= openid %>",
            unionid: "<%= unionid %>",
            events_id: "<%= eventsid %>"
        }
        myStorage.setItem("myInfo", JSON.stringify(myInfo));
        
        
    </script>
</body>

</html>