<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分享图片</title>
	<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js" ></script>    
    <link rel="stylesheet" type="text/css" media="screen" href="/static/mui/css/mui.css" />
    <link rel="stylesheet" href="/css/sign.css">
    <script src="/static/jquery-2.1.4.js"></script>
    <script src="/static/juicer-min.js"></script>
    <script src="/static/html2canva.js"></script>
	<script src="/static/canva2images.js"></script>
	<script src="/static/base64.js"></script>
    <script src="/static/mui/js/mui.js"></script>
    <script src="/js/myStorage.js"></script>
    <style>
        body{
            background: rgba(0, 0, 0, .3);
        }
    </style>
</head>

<body>
    <!-- 需要截屏的元素 -->
    <div class="cut-node">
                
        
        <div class="avatar-img">
            
            <img class="mui-media-object mui-pull-left" src="http://14.152.78.100:8081/download/img?type=1&img=<%= data.activeUser.headImg %>">
            
            </div>
            <div class="mui-content share_page" id="share_page">
                <div class="share_info">
                    <ul>
                        <li>学员姓名：<span><%= data.activeUser.name %></span></li>
                        <li>学员ID：<span><%= data.activeUser.participationId %></span></li>
                        <li>节目名称：<span><%= data.activeUser.programName %></span></li>
                        <li>参赛类别：<span><%= data.activeUser.category %></span> </li>
                    </ul>
                </div>
                <div class="share_application">
                        <%= data.activeUser.affiliation %>
                </div>
                <div class="share_qrcode">
                    <img src="/img/hx.jpg" alt="">
                    <p>关注海峡盛事公众号</p >
                </div>
            </div>
            
            
            <img id="img2share">
        </div>

        <script>
            var h = $('#share_page').height();
            var w = $('#share_page').width();
            html2canvas(
                document.getElementById("share_page"), 
                {//这里是要截图的DIV
                    allowTaint: true,
                    taintTest: false,
                    useCORS: true,
                    width: w * 2,
                    height: h * 2,
                })
                .then(function(canvas) {
                    var img = new Image();
                    img.setAttribute('crossorigin', 'anonymous')
                    img.onload = function() {
                        var cw = canvas.width;
                        var ch = canvas.height;
                        var ctx = canvas.getContext('2d');
                        ctx.save(); // 保存当前ctx的状态
                        ctx.arc(cw * 0.5, ch * 0.15+50, 50, 0, 2 * Math.PI ); //画出圆
                        ctx.clip(); //裁剪上面的圆形
                        ctx.drawImage(this, 0, 0, this.width, this.height, cw *.5-50, ch*.15, 100, 100);
                        ctx.restore(); // 还原状态
                        
                        var dataUrl = canvas.toDataURL();
                        // mui('#popovers').popover('show');
                        $('#img2share').attr('src', dataUrl);
                    }
                    // img.src = 'http://14.152.78.100:8081/download/img?type=1&img=<%= data.activeUser.headImg %>';
                    // img.src = '/img/logo.png';
                })
        </script>
</body>
</html>